
body {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;          
    background-color: white; 
}

.meteo {
    background-color: blue; 
    color: white;          
    padding: 20px;         
    border-radius: 5px;    
    text-align: center;    
}

#weatherResult {
    margin-top: 20px;
}

